TABLE: shop_bank_accounts
CREATE TABLE `shop_bank_accounts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `bank_name` varchar(64) NOT NULL,
  `account_number` varchar(64) NOT NULL,
  `account_name` varchar(128) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

TABLE: shop_customers
CREATE TABLE `shop_customers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `shop_id` int NOT NULL,
  `email` varchar(256) NOT NULL,
  `full_name` varchar(128) NOT NULL,
  `phone` varchar(32) DEFAULT NULL,
  `total_orders` int DEFAULT '0',
  `total_spent` decimal(10,2) DEFAULT '0.00',
  `first_purchase` datetime DEFAULT NULL,
  `last_purchase` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

TABLE: shop_items
CREATE TABLE `shop_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `shop_id` int NOT NULL,
  `listing_id` int DEFAULT NULL,
  `type` varchar(32) DEFAULT 'download_link',
  `download_links` text,
  `webhook_url` varchar(512) DEFAULT NULL,
  `name` varchar(256) NOT NULL,
  `category` varchar(128) DEFAULT NULL,
  `image` varchar(256) DEFAULT NULL,
  `description` text,
  `is_flexible_amount` tinyint DEFAULT '0',
  `has_variants` tinyint DEFAULT '0',
  `price` decimal(10,2) NOT NULL DEFAULT '0.00',
  `stock` int DEFAULT NULL,
  `qty_per_transaction` int DEFAULT '0',
  `has_discount` tinyint DEFAULT '0',
  `discount_price` decimal(10,2) DEFAULT NULL,
  `is_flash_sale` tinyint DEFAULT '0',
  `flash_sale_end` datetime DEFAULT NULL,
  `status` tinyint DEFAULT '1',
  `sales` int DEFAULT '0',
  `datetime` datetime NOT NULL,
  `weight` decimal(8,2) DEFAULT NULL,
  `length` int DEFAULT NULL,
  `width` int DEFAULT NULL,
  `height` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

TABLE: shop_listings
CREATE TABLE `shop_listings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `shop_id` int NOT NULL,
  `name` varchar(256) NOT NULL,
  `description` text,
  `datetime` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

TABLE: shop_orders
CREATE TABLE `shop_orders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `shop_id` int NOT NULL,
  `item_id` int NOT NULL,
  `customer_id` int NOT NULL,
  `invoice_number` varchar(128) NOT NULL,
  `qty` int NOT NULL DEFAULT '1',
  `total_amount` decimal(10,2) NOT NULL,
  `service_fee` decimal(10,2) NOT NULL DEFAULT '0.00',
  `grand_total` decimal(10,2) NOT NULL,
  `discount_amount` decimal(10,2) DEFAULT '0.00',
  `voucher_id` int DEFAULT NULL,
  `payment_processor` varchar(32) DEFAULT 'tripay',
  `payment_id` varchar(128) DEFAULT NULL,
  `status` varchar(32) DEFAULT 'pending',
  `settle_status` varchar(32) DEFAULT 'unsettled',
  `paid_date` datetime DEFAULT NULL,
  `datetime` datetime NOT NULL,
  `shipping_address` text,
  `shipping_courier` varchar(32) DEFAULT NULL,
  `shipping_service` varchar(32) DEFAULT NULL,
  `shipping_cost` decimal(10,2) DEFAULT '0.00',
  `tracking_number` varchar(128) DEFAULT NULL,
  `shipping_status` varchar(32) DEFAULT NULL,
  `checkout_url` varchar(512) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

TABLE: shop_reviews
CREATE TABLE `shop_reviews` (
  `id` int NOT NULL AUTO_INCREMENT,
  `order_id` int NOT NULL,
  `item_id` int NOT NULL,
  `rating` int NOT NULL DEFAULT '5',
  `review` text,
  `datetime` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

TABLE: shop_verifications
CREATE TABLE `shop_verifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `full_name` varchar(128) NOT NULL,
  `nik` varchar(16) NOT NULL,
  `ktp_image` varchar(256) NOT NULL,
  `selfie_image` varchar(256) NOT NULL,
  `status` varchar(32) DEFAULT 'pending',
  `rejection_reason` text,
  `submitted_at` datetime NOT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `reviewed_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

TABLE: shop_vouchers
CREATE TABLE `shop_vouchers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `shop_id` int NOT NULL,
  `item_id` int DEFAULT NULL,
  `code` varchar(64) NOT NULL,
  `discount_percentage` int NOT NULL,
  `quota` int DEFAULT NULL,
  `used` int DEFAULT '0',
  `valid_from` datetime DEFAULT NULL,
  `valid_to` datetime DEFAULT NULL,
  `is_active` tinyint DEFAULT '1',
  `datetime` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

TABLE: shop_webhook_events
CREATE TABLE `shop_webhook_events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `shop_id` int NOT NULL,
  `item_id` int DEFAULT NULL,
  `webhook_url` varchar(512) NOT NULL,
  `payload` text,
  `status_code` int DEFAULT NULL,
  `datetime` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

TABLE: shop_withdrawals
CREATE TABLE `shop_withdrawals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `bank_account_id` int NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `status` varchar(32) DEFAULT 'pending',
  `datetime` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

TABLE: shops
CREATE TABLE `shops` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `name` varchar(256) NOT NULL,
  `description` text,
  `url` varchar(256) NOT NULL,
  `item_types` text,
  `cover_image` varchar(256) DEFAULT NULL,
  `logo_image` varchar(256) DEFAULT NULL,
  `is_review_enabled` tinyint DEFAULT '1',
  `is_active` tinyint DEFAULT '1',
  `global_webhook_url` varchar(512) DEFAULT NULL,
  `notification_settings` text,
  `datetime` datetime NOT NULL,
  `origin_city_id` int DEFAULT NULL,
  `origin_city_name` varchar(128) DEFAULT NULL,
  `origin_province` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `url` (`url`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

